:root {
  --comic-mono-font: url(assets/ComicMono.ttf);
  --background-color: rgb(234, 230, 221);
  --fetch-background-color: #414141;
  --icons-color: #78544a;
  --text-color: #2e2e2e;
  --fetch-text-color: #cdcdcd;
}

@font-face {
  font-family: "Comic Mono";
  src: url(assets/ComicMono.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-size: 1em;
}

body {
  background-color: var(--background-color);
}

header {
  font-family: sans-serif;
  text-align: center;
  padding-top: 3vh;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

a:visited {
  color: var(--text-color);
}

a:hover {
  text-decoration: underline dotted 2px;
}

header .nav-bar ul li {
  display: inline-block;
  padding-inline: 2vw;
}

main {
  display: flex;
  justify-content: center;
}

main .container {
  padding-top: 4vh;
  height: 600px;
  width: 500px;
}

main .container .fetch {
  font-family: "Comic Mono";
  background-color: var(--fetch-background-color);
  border-radius: 25px;
  height: 250px;
  width: 100%;
}

main .container .distro {
  float: left;
  padding-left: 10px;
  height: 100%;
  width: 250px;
}

main .container .info ul {
  color: var(--fetch-text-color);
  padding: 20px 0 0 60%;
  list-style: none;
}

main .container .info a:visited {
  color: var(--fetch-text-color);
}

main .container .social {
  padding-top: 1vh;
}

main .container .social ul {
  list-style: none;
}

main .container .social ul li {
  padding-right: 5px;
  display: inline-block;
}

main .container .reach-me {
  font-family: sans-serif;
  padding-top: 10px;
  list-style: none;
}

main .container .reach-me li p span {
  float: right;
  text-decoration: underline;
  text-decoration-style: dotted;
}

@media only screen and (max-width: 400px) {
  main .container .distro {
    width: 50vw;
    margin-top: 10px;
    position: absolute;
  }

  main .container .fetch {
    height: 60vw;
  }

  main .container .info ul li {
    font-size: 4.7vw;
  }
}

.emojis {
  height: 1em;
  vertical-align: middle;
}

.icons {
  color: var(--icons-color) !important;
}
