@font-face {
	font-family: 'Computer Modern Serif bold';
	src: url('./font/cmunbx.eot');
	src: url('./font/cmunbx.eot?#iefix') format('embedded-opentype'),
		 url('./font/cmunbx.woff') format('woff'),
		 url('./font/cmunbx.ttf') format('truetype'),
		 url('./font/cmunbx.svg#cmunbx') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Computer Modern Serif';
	src: url('./font/cmunrm.eot');
	src: url('./font/cmunrm.eot?#iefix') format('embedded-opentype'),
		 url('./font/cmunrm.woff') format('woff'),
		 url('./font/cmunrm.ttf') format('truetype'),
		 url('./font/cmunrm.svg#cmunrm') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Computer Modern Serif italic';
	src: url('./font/cmunbi.eot');
	src: url('./font/cmunbi.eot?#iefix') format('embedded-opentype'),
		 url('./font/cmunbi.woff') format('woff'),
		 url('./font/cmunbi.ttf') format('truetype'),
		 url('./font/cmunbi.svg#cmunbi') format('svg');
	font-weight: bold;
	font-style: italic;
}

* {
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: brown;
}

a:hover {
  text-decoration: underline dotted 2px chartreuse;
}

.nav-header {
  padding: 100px 0px 0px 100px;
  font-family: 'Computer Modern Serif italic';
  font-size: 32pt;
}

.nav-links {
  padding-left: 100px;
}

.nav-links li {
  font-family: 'Computer Modern Serif';
  display: inline-block;
  padding-inline: 2vw;
}

.nav-header2 {
  font-family: 'Computer Modern Serif italic';
}

.software-i-use {
  font-family: 'Computer Modern Serif';
}

.software-i-use .container {
  /* padding-left: 100px; */
  /* height: 600px; */
  width: 500px;
}

.software-i-use .container .fetch {
  border: solid 2px var(--black);
  border-radius: 25px;
  height: 250px;
  width: 100%;
}

.software-i-use .container .distro {
  float: left;
  padding-left: 10px;
  height: 100%;
  width: 250px;
}

.software-i-use .container .info ul {
  padding: 20px 0 0 60%;
  list-style: none;
}

.social ul {
  list-style: none;
}

.social ul li {
  padding-right: 5px;
  display: inline-block;
}

.emojis {
  height: 1em;
  vertical-align: middle;
}

.icons {
  color: var(--icons-color) !important;
}

main {
  padding-left: 100px;
  font-family: 'Computer Modern Serif';
}

pre {
  font-family: 'Computer Modern Serif';
}